<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /var/www/html/canner
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^ index.php [L]
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L,NC]
</IfModule>
