<html>
<head>
<link rel="stylesheet" href="../../../webroot/css/zurb/foundation.css"/>
</head>
<body>
         <form>
            <div class="grid-x grid-padding-x">
              <div class="large-4 cell primary callout">
                <label>Input Label</label>
                <input type="text" placeholder="large-12.cell" />
              </div>
            </div>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 cell">
                <label>Input Label</label>
                <input type="text" placeholder="large-4.cell" />
              </div>
              <div class="large-4 medium-4 cell">
                <label>Input Label</label>
                <input type="text" placeholder="large-4.cell" />
              </div>
	    </div>
        </form>
</body>
</html> 
